aiogram~=3.0
aiogram-inline-paginations==0.1.12
aiogram-widgets==1.2.7

environs~=9.0
redis
betterlogging
beautifulsoup4~=4.12.3
lxml~=5.2.2
# # For enabling api:
backoff
ujson
yarl

# # For sqlalchemy + alembic:
sqlalchemy~=2.0
alembic~=1.0
#asyncpg

aiomysql==0.2.0
mysqlclient==2.2.4

fastapi
cryptography==42.0.5